---
import Main from '@/layouts/Main.astro';
import Noticias from '@/components/Noticias.astro';
import HeroInner from '@/components/HeroInner.astro';

// Hacer que esta p치gina sea din치mica para que funcione con query parameters
export const prerender = false;

// Obtener el par치metro de p치gina de la URL
const pageParam = Astro.url.searchParams.get('page');
const currentPage = pageParam ? Number(pageParam) : 1;
---

<Main title="Blog">
  <HeroInner 
    image="/assets/images/hero/home-1.jpg" 
    title="NOTICIAS" 
    textColor="white" 
  />
  
  <section class="section noticias py-5 bg-light">
    <div class="container">
      <Noticias cantidad={9} currentPage={currentPage} showPagination={true} />
    </div>
  </section>
</Main>
