---
import Main from '@/layouts/Main.astro';
import Noticias from '@/components/Noticias.astro';
---

<Main title="Blog">
  <section class="section noticias py-5 bg-light">
    <div class="container">
      <h2 class="text-primary text-center pb-3">NOTICIAS</h2>
      <Noticias cantidad={12} />
    </div>
  </section>
</Main>
