---
import Main from "@/layouts/Main.astro";
import Hero from "@/components/Hero.astro";
import PartidosProximos from "@/components/PartidosProximos.vue";
import { url } from "@/utils/url";
---

<Main title="Inicio" class="main-content">
  <Hero />
  
  <section class="section partidos-proximos py-5 bg-balls">
    <div class="container">
      <h2 class="text-warning text-center pb-3">Partidos Próximos</h2>
      <PartidosProximos client:load cantidad={6} />
    </div>
  </section>

</Main>
