---
import Main from "@/layouts/Main.astro";
import Hero from "@/components/Hero.astro";
import { url } from "@/utils/url";
---

<Main title="Inicio" class="main-content">
  <Hero />
  <div class="container py-5">
    
  </div>
</Main>
