:root{
    --border-radius: 10px;
}

::-moz-selection {
    color: white;
    background: $primary;
}

::selection {
    color: white;
    background: $primary;
}

::-webkit-input-placeholder {
    color: $dark;
    opacity: 1 !important;
}
::-moz-placeholder {
    color: $dark;
    opacity: 1 !important;
}
:-ms-input-placeholder {
    color: $dark;
    opacity: 1 !important;
}
:-moz-placeholder {
    color: $dark;
    opacity: 1 !important;
}

a{
    text-decoration: none!important;
    font-weight: initial;
    cursor: pointer;
    transition: all ease .5s;
    color:$info;
    &:hover{
        transition: all ease .5s;
    }
}

html{
    overflow-x: hidden;
    font-size: initial!important;
    scrollbar-color: $primary $secondary;
    // scrollbar-width: thin;
}
body {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:$black;
    font-size: 20px;
    background: #1E73A8;
    background: radial-gradient(circle, rgba(30, 115, 168, 1) 0%, rgba(13, 57, 99, 1) 50%);
}
