:root{
    --border-radius: 10px;
}

::-moz-selection {
    color: white;
    background: $primary;
}

::selection {
    color: white;
    background: $primary;
}

::-webkit-input-placeholder {
    color: $dark;
    opacity: 1 !important;
}
::-moz-placeholder {
    color: $dark;
    opacity: 1 !important;
}
:-ms-input-placeholder {
    color: $dark;
    opacity: 1 !important;
}
:-moz-placeholder {
    color: $dark;
    opacity: 1 !important;
}

a{
    text-decoration: none!important;
    font-weight: initial;
    cursor: pointer;
    transition: all ease .5s;
    color:$info;
    &:hover{
        transition: all ease .5s;
    }
}

html{
    overflow-x: hidden;
    font-size: initial!important;
    scrollbar-color: $secondary $primary;
    scrollbar-width: thin;
}
body {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:$black;
    font-size: 20px;
    background: #1E73A8;
    background: radial-gradient(circle, rgba(30, 115, 168, 1) 0%, rgba(13, 57, 99, 1) 50%);
}
// main{
//     height: 333vh;
// }


.swiper-pagination-bullet-active {
    background: var(--bs-warning)!important;
    transform: scale(1.6);
}

.bg-balls{
    background-image: url('/assets/images/balls.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-strokes{
    background-image: url('/assets/images/trazos.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.somos-gigantes{
    background: url('/assets/images/somos-gigantes.jpg') fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}