$urlweb:'/';
//Bootstrap Colors
$primary:#0D3963;
$secondary:#6CB3DF;
$tertiary:#FFB400;
$quaternary:#7C2133;

$success: #4DB169;
$info: #2384A5;
$warning:#F6B82C;
$danger: #FE0000;
$light: #FDFFFF;
$dark: #151515;


$body-bg: $light;
$body-color: $primary;
$navbar-brand-font-size:.8rem;
$navbar-toggler-font-size:.8rem;

//Override BS Colors
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "danger": $danger,
  "warning": $warning,
  "info": $info,
  "light": $light,
  "dark": $dark,
);

$container-max-widths: (
  sm: 500px,
  md: 700px,
  lg: 1024px,
  xl: 1536px,
  xxl: 1920px
);